.title {
    color: #2196F3;
    font-size: 30px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

div.userInteraction-btn button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
}

#add {
    background-color: #4CAF50;

}

#remove {
    background-color: #e82121;
    color: #fff;
}

#rename {
    background-color: #fff;
    color: #09529b;
}

@media screen and (max-width: 711px) {
    .grid-container {
        grid-template-columns: auto auto;
        
    }
}